@require '/vendor/*.css'
@require '/navbar/*.styl'
@require '/forms/*.styl'
@require '/projects/*.styl'

.ng-cloak
	display none !important

body
	background-image linear-gradient(#cecdb7 25%, #c3780d 75%)
	// background #f4f4f4 url("../images/back.png")
	// background-repeat no-repeat
	// background-size cover